{% block content %}

<head>
    <title data-swiftype-index="false">{{entry.seo.title}}</title>
    <link type='text/css' rel='stylesheet' href='../stylesheets/style.css'>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type='text/javascript' src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type='text/javascript' src='../stylesheets/jquery.ba-hashchange.min.js'></script>
    <script type='text/javascript' src='../stylesheets/jquery.swiftype.search.js'></script>
    <link type='text/css' rel='stylesheet' href='../stylesheets/search.css' media='all' />
    <script type='text/javascript'>
      var customRenderer = function(documentType, item) {
        var data = {
          title: item['title'],
          url: item['url'],
          body: item.highlight['body']
        };
        console.log(data);
        return resultTemplate.render('<div class="st-result"><h3 class="title"><a href="{{url}}" class="st-search-result-link">{{title}}</a></h3><div class="st-metadata"><span class="st-snippet">{{body}}</span></div></div>');
      };
      $(function() {
        $('#st-search-input').swiftypeSearch({
          resultContainingElement: '#st-results-container',
          engineKey: 'TN-SP-e4TFKfiGNbBY5C',
          renderFunction: customRenderer,
          highlightFields: {
            'page': {'body': {'size': 300, 'fallback': true}}
          },
          perPage: 3,
          sortField: function() {
            return {page: $('#st-sort-field').val()};
          }
        });
      });

      /*var resultTemplate = Hogan.compile('<div class="st-result"><h3 class="title"><a href="{{url}}" class="st-search-result-link">{{title}}</a></h3><div class="st-metadata"><span class="st-snippet">{{body}}</span></div></div>');*/
      
    </script>

</head>

<body>
    <div id="menu">
        <h2 id="bootstrap" data-swiftype-type="string">{{entry.home_button_start_bootstarta_.title}}</h2>

    	<div id="menues" data-swiftype-index='false'>		
    		<a href="#About" class="menue-title">{{entry.menues[0].link.title}}</a>
    		<a href="#shoreline-title" class="menue-title">{{entry.menues[1].link.title}}</a>
    		<a href="#Contact" class="menue-title">{{entry.menues[2].link.title}}</a>
            <form class="menue-title">
                Search:<input type='text' id='st-search-input' class='st-search-input' />
            </form>
            <div id="st-results-container" class="st-result-listing"></div>
    	
        </div>

    	<img src="{{entry.background_image.url}}" id="main-image">

    	<div id="main-content">
    		<h1 id="main-content-title" data-swiftype-type="string">{{entry.main_content.title}}</h1>
    		<p id="main_content-desc" data-swiftype-index='true' data-swiftype-name="body" data-swiftype-type="text">{{entry.main_content.description}}</p>
    	</div>

    </div>

{% include '../about_page/index.html' %}
{% include '../projects/index.html' %}
{% include '../contact_us_page/index.html' %}
<body>

{% endblock %}

